name: Deploy via Password SSH

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: environment-variables

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Inject environment variables
        run: |
          echo "NEXT_PUBLIC_FIREBASE_API_KEY=${{ secrets.NEXT_PUBLIC_FIREBASE_API_KEY }}" >> $GITHUB_ENV
          echo "NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=${{ secrets.NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN }}" >> $GITHUB_ENV
          
      - name: Install Dependencies
        run: npm install --legacy-peer-deps

      - name: Run ESLint
        run: npm run lint

      - name: Build Project
        run: NODE_OPTIONS=--openssl-legacy-provider npm run build

      - name: Deploy with SSH and Password
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          script: |
            echo "Deploying project..."
            if [ ! -d "/var/www/html/production/front/.git" ]; then
            git clone https://github.com/OptimalRating/optimal-rating-github.git /var/www/html/production/front/
            fi
            cd /var/www/html/production/front
            git pull origin main
            npm install --production
            npm run build
             if ! pm2 describe optimalrating > /dev/null; then
            echo "Starting PM2 process"
            pm2 start "npx next start -p 4000" --name optimalrating --watch
            else
            echo "Restarting PM2 process"
            pm2 restart optimalrating
            fi

            pm2 save